<!DOCTYPE html>
<html>
  <head>
    <title>FAB LAB</title>
    {% load static %}
    <link href={% static 'css/FL.css'  %} rel="stylesheet">
<link href="FL.css" type="text/css" rel="stylesheet">
  <body>
    <div class="pimg1">
        <h1 class="A">F A B</h1>
        <h1 class="B"> LAB</h1>
    </div>
    <section  class="section section-light">
      <h2>Introduction</h2>
    </section>
      <div class="pimg2">
        <div class="ptext">
            <h1><a class="btn" href="R.html">RESERVE</a></h1>
        </div>
      </div>
    <section  class="section section-dark">
      <h2>Register</h2>
    </section>
        <div class="pimg3">
          <div class="ptext">
            <h1><a class="btn" href="#">CONTACT</a></h1>
          </div>
        </div>
    <section  class="section section-dark">
      <h2>Contact</h2>
    </section>
       <div class="pimg4">
         <div class="ptext">
           <h1><a class="btn" href="#">ABOUT</a></h1>
         </div>
      </div>
   <section  class="section section-dark">
    <h2>About</h2>
   </section>
</body>
</head>
</html>
